* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	/* background: #ffffe9; */
	background-image: url('https://img.freepik.com/free-vector/gradient-abstract-background_23-2149131346.jpg?w=1060&t=st=1720546738~exp=1720547338~hmac=ec60c6d51526413eb2ff130dc02ff1ce4b3379f009075991e3262adb26ba3d69');
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	/* background: #9e5dff; */
	/* filter: blur(10%);
	-webkit-filter: blur(1px); */
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	margin-top: 150px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #461c79;
	border: none;
	border-radius: 5px;

}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
